html, body {
	margin: 0;
	padding: 0;
  }
  canvas {
	margin: 10px;
	border: 1px solid black;
	display: block;
  }
  
  p {
	margin: 10px;
	
	border: 1px solid black;
  }
  
  .shadow{
	  -webkit-box-shadow: 5px 5px 10px #666;
	  box-shadow: 5px 5px 10px #666;
  }
  
  .loading{ 
	  background:Gray;
	}
